.center-content {
  display: flex;
  align-items: center;
}

$header-height : 75px;

#header {
  min-height: $header-height;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white;
}

.SRC-primary-background-color-hover:hover {
  background: #D53F77 !important;
  color: white;
}

.SRC-primary-background-color-hover.SRC-nested-color:hover > * {
  background: #D53F77;
  color: white;
}

.spacer {
  min-height: $header-height;
  height: $header-height;
}