body {
  font-family: 'Lato', sans-serif; }

.center-content {
  display: flex;
  align-items: center; }

#header {
  min-height: 75px;
  height: 75px;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white; }

.SRC-primary-background-color-hover:hover {
  background: #47337D !important;
  color: white; }

.SRC-primary-background-color-hover.SRC-nested-color:hover {
  background: #47337D;
  color: white; }

.spacer {
  min-height: 75px;
  height: 75px; }

.flex-display {
  display: flex; }

.nav-logo-container {
  flex-basis: 50%; }

.nav-link-container {
  flex-basis: 50%; }

.nav {
  background: #FFFFFF;
  height: 67px; }
  .nav a:hover {
    text-decoration: none;
    color: #47337D; }
  .nav a:focus {
    text-decoration: none;
    color: #47337D; }

.nav-button {
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-fill-available;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: #404B63;
  text-decoration: none; }

.quarter-flex-basis {
  flex-basis: 25%; }

.nav-button:hover {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #47337D;
  margin-bottom: -3px;
  color: #47337D; }

.bottom-border {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color: #47337D;
  margin-bottom: -3px; }

#home-link {
  font-weight: bold;
  font-size: 25px;
  color: #47337D;
  margin-left: 15px; }

.open > a {
  color: #47337D !important;
  background-color: white !important; }
  .open > a:focus {
    border-color: unset !important; }
  .open > a:hover {
    border-color: unset !important; }

.dropdown-link {
  color: #515359;
  padding-left: 20px;
  height: 37px; }

.dropdown-menu {
  border-radius: 0%; }
