body {
  font-family: 'Lato', sans-serif;
}
.center-content {
  display: flex;
  align-items: center;
}

$header-height : 75px;
$primary-text-color: #404B63;
$seconday-text-color: #47337D;;
#header {
  min-height: $header-height;
  height: $header-height;
  position: fixed;
  width: 100%;
  z-index: 2;
  background: white;
}

.SRC-primary-background-color-hover:hover {
  background: $seconday-text-color !important;
  color: white;
}

.SRC-primary-background-color-hover.SRC-nested-color:hover {
  background: $seconday-text-color;
  color: white;
}

.spacer {
  min-height: $header-height;
  height: $header-height;
}

.flex-display {
  display: flex;
}

.nav-logo-container {
  flex-basis: 50%;
}


.nav-link-container {
  flex-basis: 50%;
}

.nav {
  background: #FFFFFF;
  height: 67px;
  a:hover {
    text-decoration: none;
    color: $seconday-text-color;
  }
  a:focus {
    text-decoration: none;
    color: $seconday-text-color;
  }
}

.nav-button {
  text-transform: uppercase;
  font-weight: bold;
  height: -webkit-fill-available;
  font-size: 16px;
  text-align: center;
  justify-content: center;
  color: $primary-text-color;
  text-decoration: none;
}

.quarter-flex-basis {
  flex-basis: 25%;
}
.nav-button:hover {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color:#47337D;
  margin-bottom: -3px;
  color: $seconday-text-color;
}

.bottom-border {
  border-bottom-style: solid;
  border-bottom-width: 3px;
  border-bottom-color:#47337D;
  margin-bottom: -3px;
}

#home-link {
  font-weight: bold;
  font-size: 25px;
  color: $seconday-text-color;
  margin-left: 15px;
}

// bootstrap override
.open > a {
  color: $seconday-text-color !important;
  background-color: white !important;
  &:focus {
    border-color: unset !important;
  }
  &:hover {
    border-color: unset !important;
  }
}

.dropdown-link {
  color: #515359;
  padding-left: 20px;
  height: 37px;
}

.dropdown-menu {
  border-radius: 0%;
}